@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');



.loginForm__form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginForm__inputs{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;
}

.loginForm__links{
    display: flex;
}

.loginForm__social{
    display: flex;
    gap: 30px;
}

.loginForm__links{
    border-top: 2px solid black;
    width: 300px;
    display: flex;
    margin-bottom: 25px;
}

.loginForm__a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.loginForm__olvidoPassword{
    flex: 1;
    border-right: 2px solid black;
    padding: 4px;
}

.loginForm__yaTieneCuenta{
    flex: 1;
    padding: 4px;
    text-align: right;
}

.loginForm__social{
    width: 300px;
}

.loginForm__social > * {
    width: 100%;
}



.loginForm__p{
    color: red;
    margin-bottom: 20px;
    
}

.loginForm__buttonSubmit{
    text-align: center;
}

.loginForm__titulo{
    width: 300px;
    text-align: center;
    margin-bottom: 60px;
}






.loginForm__separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0; /* espacio arriba y abajo */
    color: #333;    /* color del texto */
    font-size: 14px;
    font-weight: 500;
    width: 300px;   /* que coincida con el ancho de los botones */
}

.loginForm__separator::before,
.loginForm__separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #666; /* línea gris */
}

.loginForm__separator:not(:empty)::before {
    margin-right: .75em;
}

.loginForm__separator:not(:empty)::after {
    margin-left: .75em;
}