.resetPasswordForm__form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resetPasswordForm__titulo{
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
}


.resetPasswordForm__texto{
    width: 300px;
    text-align: center;
    margin-bottom: 40px;
}


.resetPasswordForm__inputs{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.resetPasswordForm__label{
    display: block;
}


.resetPasswordForm__p{
    color: red;
    text-align: center;
}

.resetPasswordForm__buttonSubmit{
    width: 300px;
    margin-top: auto;
}