.forgotPasswordForm__form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgotPasswordForm__titulo{
    width: 300px;
    margin-bottom: 25px;
    text-align: center;
}

.forgotPasswordForm__texto{
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
}

.forgotPasswordForm__labels{
    width: 300px;
    margin-bottom: 5px;
}

.forgotPasswirdForm__error{
    color: red;
    text-align: center;
}

.forgotPasswordForm__buttonSubmit{
    margin-top: auto;
}