.forgotPasswordPage{
    width: 100%;
    min-height: 100vh;
    background-color: #0A0F1E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordPage__container{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 187, 0);
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 40px ;
}